@model DIGPES.Models.PesquisaModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PesquisaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="OS" class="control-label"></label>
                <input asp-for="OS" class="form-control" />
                <span asp-validation-for="OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoProduto" class="control-label"></label>
                <input asp-for="CodigoProduto" class="form-control" />
                <span asp-validation-for="CodigoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestaoA" class="control-label"></label>
                <input asp-for="QuestaoA" class="form-control" />
                <span asp-validation-for="QuestaoA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestaoB" class="control-label"></label>
                <input asp-for="QuestaoB" class="form-control" />
                <span asp-validation-for="QuestaoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestaoC" class="control-label"></label>
                <input asp-for="QuestaoC" class="form-control" />
                <span asp-validation-for="QuestaoC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestaoD" class="control-label"></label>
                <input asp-for="QuestaoD" class="form-control" />
                <span asp-validation-for="QuestaoD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Justificativa" class="control-label"></label>
                <input asp-for="Justificativa" class="form-control" />
                <span asp-validation-for="Justificativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestaoE" class="control-label"></label>
                <input asp-for="QuestaoE" class="form-control" />
                <span asp-validation-for="QuestaoE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

