
<script type="text/javascript" src="https://www.google.com/jsapi" async></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" async></script>

<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>


<br />
<br />
<div class="container container-center">
    <div id="divgrafico">
    </div>

    <hr />
    <a asp-area="" class="btn btn-info" asp-controller="Pesquisa" asp-action="Create">Início</a>
</div>





<script>
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax(
            {
                url: '@Url.Action("GraficoA", "Pesquisa")',
                dataType: "json",
                type: "GET",
                error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
                },
                success: function (data) {
                PopulaGrafico(data);
                return false;
                }

                });
                return false;
                }


    function PopulaGrafico(dadosentrada) {

                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'resposta');
                    data.addColumn('number', 'valor');

                    for (var i = 0; i < dadosentrada.length; i++) {
                        data.addRow([dadosentrada[i].resposta, dadosentrada[i].valor]);
                    }

                    var chart = new google.visualization.PieChart(document.getElementById('divgrafico'));

                    chart.draw(data,
                        {
                            title: "Gráfico sobre o total de respostas",                            
                            fontsize: "22px",
                            chartArea: { width: '85%' },
                        });
                };
</script>
